.headerContainer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 40px 100px 13px 100px;
	border-bottom: 1px solid;
	border-color: #6c8312;
}
.header{
	color: var(--primary-color);
}
.headerContainer.smallHeader {
	width: 55%;
}
.header_logo{
	width: 110px;
	height: 105px;
}
.header_logo.smallHeader{
	width: 105px;
	height: 34px;
}
.header__nav__ul--li.smallHeader{
	font-size: 0.7rem;
}
.link {
	text-decoration:none;
	outline: none;
	color: var(--primary-color);
}
.navLink_active{
	text-decoration:underline;
	color: var(--primary-color);
}
.header__nav__ul{
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.header__nav__ul--li{
	padding-left: 35px;
	margin-top: 40px;
	font-style: normal;	
	font-weight: 500;
	line-height: 34.22px;
	color: var(--primary-color);
}
.header__nav__ul--li:hover{
	transform:scale(1.05);
}
.title_logo{
	position: absolute;
	top: 5px;
}
.title{
	position: absolute;
	top: 5px;
	font-weight: 500;
	font-size: 1.1rem;
}

@media screen and (min-width: 2500px) {
	.title_logo{
		margin-left: 30%;
	}
}


@media screen and (min-width: 996px) {
	.headerContainer{
		padding: 5px;
	}
	.header__nav__ul--li{
		font-size: 1rem;
	}
	.title_logo{
		font-size: 1.2rem;
		left: 10%;
		
	}
	.title{
		left: 50%;
		padding: 20px;
        background-color: #dcf2cc;
        border-radius: 10px;
	}
}

@media screen and (min-width:778px) and (width < 996px){
	.headerContainer{
		padding: 5px;
	}
	.header__nav__ul--li{
		font-size: 0.8rem;
	}
	.title_logo{
		font-size: 1.1rem;
		top : 0;
		left: 90px;
	}
	.title{
		left: 400px;
		padding: 15px;
        background-color: #dcf2cc;
        border-radius: 10px;
	}
}

@media screen and (width < 778px) {
	.headerContainer {
		padding: 3px;
	}
	.header__nav__ul--li{
		font-size: 0.75rem;
		padding-left: 10px;
		line-height: 17.11px;
	}
	.title_logo{
		font-size: 0.9rem;
		left: 85px;
	}
	.title{
		left: 200px;
		top : 0;
	}
}

@media screen and (width < 578px) {
	.header_logo{
		display: none;
	}
	.title_logo{
		font-size: 0.8rem;
		top : 0;
		left: 10px;
	}
	.title{
		left: 150px;
	}
}

